<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Trends</p>
		<a class="panel-block">
			Grass
		</a>
		<a class="panel-block">
			Fire
		</a>
		<a class="panel-block">
			Water
		</a>
		<a class="panel-block">
			Ground
		</a>
		<a class="panel-block">
			Rock
		</a>
		<a class="panel-block">
			Normal
		</a>
	</nav>
</div>